/* * {
  box-sizing: border-box;
} */
.navbar {
  background: white;
}
.navbar-brand {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 36px;
  color: rgb(120, 104, 133);
}
.carousel-item {
  height: 24rem;
  background: black;
  color: white;
  position: relative;
}
.carousel-container {
  position: absolute;
  /* border: solid; */
  /* padding-top */
}
.carousel-overlay-image {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}
