*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /*TODO DECIDE THE FONT FAMILY*/
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: rgb(226, 226, 247);
}

h1 {
    cursor: pointer;
    margin-right: auto;
}

.navLinks {
    list-style: none;
    text-decoration: none;
}

.navLinks ul li {
    display: inline-block;
    padding: 0px, 20px;
    margin-left: 10px;
    font-size: 12px;
}
.navLinks ul li a {
    transition: all 0.3s ease 0s;
}

/*banner with quote*/
.banner {
    padding: 100px;
    background-color: rgb(241, 215, 215);
    text-align: center;
    font-family: brush script MT, Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: initial;
    color: white;
}

main {
    color: black;
    
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: rgb(226, 226, 247);
}

.meImage-container {
    flex: 0 0 auto;
    width: 50%;
}
.meImageBox {
    display: inline-block;
    margin-left: 50px;
}

.meImageBox img {
    width: 70%;
    margin: auto;
    ;
}

.introduction-box {
    padding: 50px 50px;
    margin: auto;
}
.introduction-box h2 {
    margin-bottom: 20px; 
    font-size: 20px;
}
.introduction-box p {
    font-size: 16px; 
    text-align: justify;
}

.projects {
    background-color: rgb(241, 215, 215);
    padding: 40px;
}
.projects-container {
    display: flex;
    justify-content: space-between;
}
.project-box {
    display: inline-flexbox;
    padding: 40px;
}

.project-box img {
    width: 90%;
}


.contact {
    text-align: center;
    padding: 20px;
    background-color: rgb(241, 215, 215);
}
.contact h2 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(226, 226, 247);
}
@media only screen and (max-width: 1000px){
    .project-box img {
        width: 400px;
    };
}
